:root {
  --box-shadow-color: rgb(179, 181, 184);
}

body {
  padding: 0;
  margin: 0;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  overflow-y: auto;
  display: grid;
  height: 100vh;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: 
  "sidebar"
  "header"
  "content"
  ;
}

.sidebar {
  background-color: rgb(98, 170, 230);
  grid-area: sidebar;
  padding: 24px;
  color: white;
}

.sidebar-contents {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 24px;
}

#sidebar-btn {
  margin-left: auto;
  cursor: pointer;
}

.nav {
  display: grid;
  gap: 32px;
}

.nav > ul {
  list-style-type: none;
  cursor: pointer;
}

.nav > .nav-links {
  font-size: 18px;
  padding: 0;
  margin: 0;

  display: grid;
  gap: 16px;
}

.nav-links > li > img {
  width: 24;
  height: auto;
}

.nav-links > li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar-svg-color {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(310deg) brightness(104%) contrast(101%);
}

.sidebar-svg-color::selection {
  background: none;
}

.logo {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo > img {
  width: 43px;
  height: auto;
}

.header {
  background-color: white;
  padding: 16px;
  position: sticky;
  top: 0px;

  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: 
  "headertop"
  "headerbottom"
  ;
  gap: 24px;
}

.header-top {
  grid-area: headertop;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
  "search headertopright"
  ;
  align-items: center;
  gap: 16px;
}

.search {
  padding: 0;
  margin: 0;
  grid-area: search;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "searchicon searchbar"
  ;
  align-items: center;
  gap: 8px;
}

.search-icon {
  grid-area: searchicon;
  display: flex;
  align-items: center;
}

.search-bar {
  grid-area: searchbar;
  border-radius: 6px;
}

input[type=text] {
  all: unset;
}

input[type=text]#input-search {
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  padding: 4px 14px;
  margin-right: 6px;
  background-color: rgb(220, 229, 238);
}

input[type=text]#input-search:focus {
  outline: 2px solid rgb(119, 170, 218);
}

.header-top-right {
  grid-area: headertopright;
  justify-self: end;

  display: flex;
  gap: 16px;
}

.notifications {
  display: flex;
  align-items: center;
}

.user-icon-small {
  display: flex;
  align-items: center;
}

.header-bottom {
  grid-area: headerbottom;

  display: grid;
  grid-template-columns: 0px 1fr;
  grid-template-areas: 
  "none useractions"
  ;
}

.user-large {
  display: none;
}

.user-icon {
  grid-area: usericon;
}

.welcome-message {
  grid-area: welcomemsg;
}

.user-full {
  grid-area: userfull;
  font-size: 18px;
  font-weight: bold;
}

.user-actions {
  grid-area: useractions;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.btn-actions {
  color: white;
  background-color: rgb(105, 154, 245);
  box-shadow: 1px 1px 4px var(--box-shadow-color);
  border: none;
  text-decoration: none;
  border-radius: 9px;
  margin: 0;
  padding: 8px 0px;
  width: 33%;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-actions:hover {
  background-color: rgb(70, 113, 192);
}

.content {
  background-color: rgb(229, 237, 245);
  grid-area: content;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "projects"
  "annoucements"
  "trending"
  ;
}

.content-title {
  font-size: 16px;
  font-weight: bold;
}

.projects {
  grid-area: projects;
  display: grid;
  gap: 16px;
  grid-template-rows: auto 1fr;

  padding: 16px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, min-content);
  gap: 15px;
}

.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
  "highlight card-text"
  "highlight action"
  ;

  box-shadow: 0px 1px 10px var(--box-shadow-color);
}

.card:hover {
  outline: 2.5px solid rgb(63, 121, 197);
}

.card-highlight {
  background-color: rgb(147, 157, 243);
  grid-area: highlight;
}

.card-text {
  padding: 16px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-actions {
  justify-self: end;
  padding: 16px;
  display: flex;
  gap: 16px;
}

.annoucements {
  grid-area: annoucements;

  display: grid;
  gap: 16px;
  grid-template-rows: min-content min-content;

  padding: 16px;
}

.annoucements-container {
  background-color: white;
  border-radius: 8px;

  padding: 24px;

  display: grid;
  grid-auto-rows: min-content;
  gap: 16px;

  box-shadow: 0px 1px 10px var(--box-shadow-color);
}

.annoucement-info {
  display: grid;
  grid-template-rows: min-content min-content;

  gap: 6px;
}

.annoucement-title {
  font-size: 14px;
  font-weight: bold;
}

.annoucement-content {
  font-size: 12px;
}

.trending {
  grid-area: trending;
  padding: 16px;

  display: grid;
  grid-template-rows: min-content min-content;
  gap: 16px;
}

.trending-container {
  background-color: white;
  border-radius: 8px;

  padding: 16px;

  display: grid;
  grid-auto-rows: min-content;
  gap: 8px;

  box-shadow: 0px 1px 10px var(--box-shadow-color);
}

.trending-info {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "icon name"
  "icon title"
  ;
  row-gap: 6px;
  column-gap: 8px;
}

.trending-icon {
  grid-area: icon;
  display: flex;
  align-items: flex-start;
}

.trending-name {
  grid-area: name;
  font-weight: bold;
}

.trending.title {
  grid-area: title;
}

.hide-small {
  display: none;
}

@media only screen and (min-width: 800px) {
  .container {
    overflow-y: visible;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content"
    ;
  }

  #sidebar-btn {
    display: none;
  }

  .user-large {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "usericon welcomemsg"
    "usericon userfull"
    ;
    column-gap: 8px;
  }

  .sidebar-contents {
    position: fixed;
  }

  .header {
    position: static;
  }

  .header-bottom {
    grid-area: headerbottom;
  
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "userlarge useractions"
    ;
    align-items: center;
  }

  .user-actions {
    justify-content: flex-end;
  }

  .btn-actions {
    width: min(200px, 33%);
  }

  .content {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "projects annoucements"
    "projects trending"
    ;
  }

  .hide-small {
    display: grid;
  }
}